.item_cardStyle {
  margin-bottom: 10px;
  overflow: hidden;
  min-width: 0;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
}

.item_containerStyle {
  display: grid;
  grid-template-rows: 44px 1fr;
  grid-template-columns: 1fr 0px;
}

.item_headerStyle {
  padding-left: 1em;
  background-color: #55c500;
  color: white;
  font-weight: bold;
  grid-row: 1/2;
}

.item_contentStyle {
  padding-left: 1em;
  grid-row: 2/3;
}

.item_nameStyle {
  margin-left: 1em;
  margin-right: 1em;
}

.item_addInfoStyle {
  margin-left: 2em;
}
