.index_itemContainerStyle {
  display: grid;
  gap: 0.8em;
}
@media screen and (max-width: 600px) {
  .index_itemContainerStyle {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-template-areas:
      "card0"
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6"
      "card7"
      "card8"
      "card9"
      "card10"
      "card11"
      "card12"
      "card13"
      "card14"
      "card15"
      "card16"
      "card17"
      "card18"
      "card19";
  }
  /* ie用Autoprefixerのため、item.cssの内容をこちらに記載 */
  .item_card0 {
    grid-area: card0;
  }

  .item_card1 {
    grid-area: card1;
  }

  .item_card2 {
    grid-area: card2;
  }

  .item_card3 {
    grid-area: card3;
  }

  .item_card4 {
    grid-area: card4;
  }

  .item_card5 {
    grid-area: card5;
  }

  .item_card6 {
    grid-area: card6;
  }

  .item_card7 {
    grid-area: card7;
  }

  .item_card8 {
    grid-area: card8;
  }

  .item_card9 {
    grid-area: card9;
  }

  .item_card10 {
    grid-area: card10;
  }

  .item_card11 {
    grid-area: card11;
  }

  .item_card12 {
    grid-area: card12;
  }

  .item_card13 {
    grid-area: card13;
  }

  .item_card14 {
    grid-area: card14;
  }

  .item_card15 {
    grid-area: card15;
  }

  .item_card16 {
    grid-area: card16;
  }

  .item_card17 {
    grid-area: card17;
  }

  .item_card18 {
    grid-area: card18;
  }

  .item_card19 {
    grid-area: card19;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .index_itemContainerStyle {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas:
      "card0 card1"
      "card2 card3"
      "card4 card5"
      "card6 card7"
      "card8 card9"
      "card10 card11"
      "card12 card13"
      "card14 card15"
      "card16 card17"
      "card18 card19";
  }

  /* ie用Autoprefixerのため、item.cssの内容をこちらに記載 */
  .item_card0 {
    grid-area: card0;
  }

  .item_card1 {
    grid-area: card1;
  }

  .item_card2 {
    grid-area: card2;
  }

  .item_card3 {
    grid-area: card3;
  }

  .item_card4 {
    grid-area: card4;
  }

  .item_card5 {
    grid-area: card5;
  }

  .item_card6 {
    grid-area: card6;
  }

  .item_card7 {
    grid-area: card7;
  }

  .item_card8 {
    grid-area: card8;
  }

  .item_card9 {
    grid-area: card9;
  }

  .item_card10 {
    grid-area: card10;
  }

  .item_card11 {
    grid-area: card11;
  }

  .item_card12 {
    grid-area: card12;
  }

  .item_card13 {
    grid-area: card13;
  }

  .item_card14 {
    grid-area: card14;
  }

  .item_card15 {
    grid-area: card15;
  }

  .item_card16 {
    grid-area: card16;
  }

  .item_card17 {
    grid-area: card17;
  }

  .item_card18 {
    grid-area: card18;
  }

  .item_card19 {
    grid-area: card19;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .index_itemContainerStyle {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-areas:
      "card0 card1 card2"
      "card3 card4 card5"
      "card6 card7 card8"
      "card9 card10 card11"
      "card12 card13 card14"
      "card15 card16 card17"
      "card18 card19 none";
  }

  /* ie用Autoprefixerのため、item.cssの内容をこちらに記載 */
  .item_card0 {
    grid-area: card0;
  }

  .item_card1 {
    grid-area: card1;
  }

  .item_card2 {
    grid-area: card2;
  }

  .item_card3 {
    grid-area: card3;
  }

  .item_card4 {
    grid-area: card4;
  }

  .item_card5 {
    grid-area: card5;
  }

  .item_card6 {
    grid-area: card6;
  }

  .item_card7 {
    grid-area: card7;
  }

  .item_card8 {
    grid-area: card8;
  }

  .item_card9 {
    grid-area: card9;
  }

  .item_card10 {
    grid-area: card10;
  }

  .item_card11 {
    grid-area: card11;
  }

  .item_card12 {
    grid-area: card12;
  }

  .item_card13 {
    grid-area: card13;
  }

  .item_card14 {
    grid-area: card14;
  }

  .item_card15 {
    grid-area: card15;
  }

  .item_card16 {
    grid-area: card16;
  }

  .item_card17 {
    grid-area: card17;
  }

  .item_card18 {
    grid-area: card18;
  }

  .item_card19 {
    grid-area: card19;
  }
}

@media screen and (min-width: 1201px) {
  .index_itemContainerStyle {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-areas:
      "card0 card1 card2 card3"
      "card4 card5 card6 card7"
      "card8 card9 card10 card11"
      "card12 card13 card14 card15"
      "card16 card17 card18 card19";
  }

  /* ie用Autoprefixerのため、item.cssの内容をこちらに記載 */
  .item_card0 {
    grid-area: card0;
  }

  .item_card1 {
    grid-area: card1;
  }

  .item_card2 {
    grid-area: card2;
  }

  .item_card3 {
    grid-area: card3;
  }

  .item_card4 {
    grid-area: card4;
  }

  .item_card5 {
    grid-area: card5;
  }

  .item_card6 {
    grid-area: card6;
  }

  .item_card7 {
    grid-area: card7;
  }

  .item_card8 {
    grid-area: card8;
  }

  .item_card9 {
    grid-area: card9;
  }

  .item_card10 {
    grid-area: card10;
  }

  .item_card11 {
    grid-area: card11;
  }

  .item_card12 {
    grid-area: card12;
  }

  .item_card13 {
    grid-area: card13;
  }

  .item_card14 {
    grid-area: card14;
  }

  .item_card15 {
    grid-area: card15;
  }

  .item_card16 {
    grid-area: card16;
  }

  .item_card17 {
    grid-area: card17;
  }

  .item_card18 {
    grid-area: card18;
  }

  .item_card19 {
    grid-area: card19;
  }
}
.index_h1Style {
  font-family: Hiragino Maru Gothic ProN;
  margin-left: 10px;
}

.index_h2style {
  margin-left: 10px;
}

.index_h3style {
  margin-left: 10px;
}

.index_iconStyle {
  width: 1em;
  height: 1em;
  margin-left: 10px;
  vertical-align: middle;
}

.graph_h1Style {
  font-family: Hiragino Maru Gothic ProN;
  margin-left: 10px;
}

.graph_h2style {
  margin-left: 10px;
}

.graph_h3style {
  margin-left: 10px;
}

.graph_iconStyle {
  width: 1em;
  height: 1em;
  margin-left: 10px;
  vertical-align: text-bottom;
}

.footer_footerStyle {
  margin: 0px 10px 8px 0px;
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.header_antHeaderStyle {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #55c500;
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  line-height: 0px;
}

.header_titleStyle {
  margin: auto 0px auto 10px;
  font-size: 25px;
  font-family: cursive;
}

.header_githubStyle {
  margin: 14px 10px 14px 0px;
  font-size: 2em;
  display: flex;
}

.header_anchorStyle {
  color: inherit;
}

.header_imageStyle {
  height: 48px;
}

.header_linkIcon {
  margin: auto 5px;
  color: inherit;
}

.item_cardStyle {
  margin-bottom: 10px;
  overflow: hidden;
  min-width: 0;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
}

.item_containerStyle {
  display: grid;
  grid-template-rows: 44px 1fr;
  grid-template-columns: 1fr 0px;
}

.item_headerStyle {
  padding-left: 1em;
  background-color: #55c500;
  color: white;
  font-weight: bold;
  grid-row: 1/2;
}

.item_contentStyle {
  padding-left: 1em;
  grid-row: 2/3;
}

.item_nameStyle {
  margin-left: 1em;
  margin-right: 1em;
}

.item_addInfoStyle {
  margin-left: 2em;
}

.mylayout_mainStyle {
  margin-top: 60px;
}
