.graph_h1Style {
  font-family: Hiragino Maru Gothic ProN;
  margin-left: 10px;
}

.graph_h2style {
  margin-left: 10px;
}

.graph_h3style {
  margin-left: 10px;
}

.graph_iconStyle {
  width: 1em;
  height: 1em;
  margin-left: 10px;
  vertical-align: text-bottom;
}
